@font-face {
  font-family: "iconfont"; /* Project id 3224590 */
  src: url('iconfont.woff2?t=1650973094054') format('woff2'),
       url('iconfont.woff?t=1650973094054') format('woff'),
       url('iconfont.ttf?t=1650973094054') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-full:before {
  content: "\e982";
}

.icon-daifukuan:before {
  content: "\e606";
}

.icon-daifahuo:before {
  content: "\e607";
}

.icon-yiwancheng:before {
  content: "\e612";
}

.icon-dingdan:before {
  content: "\ee91";
}

.icon-dizhi:before {
  content: "\ee96";
}

.icon-gouwuche:before {
  content: "\eeba";
}

.icon-wode:before {
  content: "\eeca";
}

